:root {
  --mainDarkBg: slategray;
  --mainTeal: teal;
  --mainWheat: wheat;
  --mainTransition: all 0.2s ease;
  --mainSpace: 0.3rem;
}

body {
  background: var(--mainDarkBg);
  font-family: helvetica;
}

.text-title {
  color: var(--mainWheat);
}
